 *,*::before,*::after{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
   
}

body{
    background-color: #42a5f5;
    margin: 0;
    padding: 0;
}


.phone-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(5,100px);
}

.btn{
    cursor: pointer;
    font-size: 2rem;
    background-color: white;
    border: 1px solid white;
    outline: none;
    text-align: center;
}

.btn:active{
    background-color: #c4c4c4;
}

.output{
    grid-column: 1/-1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0 50px;
}

.output .c-operand{
    color: #1976d2;
    font-size: 2rem;
}
.calc-area{
   border: 1px solid red;
}

.whole-area{
    border: 1px solid red;
}

.btn-label{
    padding-bottom: 30px;
    font-size: 0.8rem;
    color: grey;
    text-align: center;
}